<h1>Eddit Grade</h1>

<%= form_for @grade, url: school_grade_path(current_school, @grade) do |f| %>
  <div class row>
    <div class='col-3'>
      <div class='mb-3'>
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class='text-end'>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
