<h1>New Teacher</h1>

<%= form_for @teacher, url: school_teachers_path(current_school) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%#= link_to 'Back', teachers_path %>
