<div class='col-4'>
  <div class="card">
    <h5 class="card-header"><%= school.name %></h5>
    <div class="card-body">
      <div class='text-end'>
        <%= link_to 'Show', school, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
