<div class='col-4'>
  <%= link_to school_homepage_path(school) do %>
    <div class="card">
      <h5 class="card-header"><%= school.name %></h5>
      <div class="card-body">
      </div>
    </div>
  <% end %>
</div>
